h2{font-family:Arial,Helvetica,sans-serif}h1{color:red;font-family:Tahoma}footer{position:fixed;left:0;bottom:0;width:100%;background-color:#dcdcdc}table{border-collapse:collapse}td,th{text-align:left;padding:8px}li{list-style-type:upper-roman}*{font-family:Arial,Helvetica}#paragraph{font-size:20pt;color:#66f}p.normal{font-size:130%}conc.{background-color:pink}


