<br><br>
<div class="container">
  <h3 class="text-center">Forma</h3> <br>
  <form class="" method="POST" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>">
    <div class="form-group row">
      <label for="chocolate" class="col-sm-2 col-form-label">Nombre de chocolate</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="chocolate" name="chocolate" placeholder="chocolate">
      </div>
    </div> <br>
    <div class="form-group row">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Ver el producto más barato</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Ver el producto más caro</label>
      </div>
    </div> <br>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-secondary">Buscar</button>
      </div>
    </div>
  </form>
</div>
